:root {
    --background: #edf1f5;
    --card-background: #fff;
    --text-primary: #111315;
    --text-secondary: rgba(33, 37, 41, 0.75);
}

@media (preferes-color-schema: dark) {
:root {
    --background: #0e1b2b;
    --card-background: #08131e;
    --text-primary: #ffffff;
    --text-secondary: rgba(186, 186, 186, 0.75);
}
body {
    background: var(--background);
}
}

body {
    background: var(--background);
    color: var(--text-secondary);
    margin-top:20px;
    font-family: "Inter", sans-serif;
    font-size: 15px;
}
.nav {
    background-color: var(--card-background);
}
.modal .modal-content {
    background-color: var(--card-background);
    color: var(--text-secondary);
}
.nav-item a {
    cursor: pointer;
}

.note-has-grid {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    column-count: 3;
    column-gap: 15px;
}
@media (max-width: 1200px) {
    .note-has-grid { column-count: 2;}
}
@media (max-width: 767px) {
    .note-has-grid { column-count: 1;}
}

@media (max-width: 567px) {
    .note-has-grid { column-count: 1;}
    
}

.no-note {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
}
.card {
    position: relative;
    /* display: flex; */
    display: inline-block;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--card-background);
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 10px;
    /* width: calc(33.33% - 10px); */
    width: 100%;
    height: fit-content;
}
.card {
    margin-bottom: 20px;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.57rem;
}

 .note-has-grid .note-date {
    font-size: .9rem;
 }


 .note-has-grid .single-note-item .favourite-note {
     cursor: pointer
 }

 .note-has-grid .single-note-item .side-stick {
     position: absolute;
     width: 3px;
     height: 40px;
     left: 0;
     background-color: rgba(82, 95, 127, .5)
 }

 .note-has-grid .single-note-item .category-dropdown.dropdown-toggle:after {
     display: block
 }

 .note-has-grid .single-note-item .category [class*=category-] {
     height: 15px;
     width: 15px;
     display: none
 }

 .note-has-grid .single-note-item .category [class*=category-]::after {
     content: "\f0d7";
     font: normal normal normal 14px/1 FontAwesome;
     font-size: 12px;
     color: var(--card-background);
     position: absolute
 }

 .note-has-grid .single-note-item .category-menu a {
    cursor: pointer;
    padding: 2px 0;
 }

 .note-has-grid .single-note-item .category .category-business {
     background-color: rgba(44, 208, 126, .5);
     border: 2px solid #2cd07e
 }

 .note-has-grid .single-note-item .category .category-social {
     background-color: rgba(44, 171, 227, .5);
     border: 2px solid #2cabe3
 }

 .note-has-grid .single-note-item .category .category-important {
     background-color: rgba(255, 80, 80, .5);
     border: 2px solid #ff5050
 }

 .note-has-grid .single-note-item.all-category .point {
     color: rgba(82, 95, 127, .5)
 }

 .note-has-grid .single-note-item.note-business .point {
     color: rgba(44, 208, 126, .5)
 }

 .note-has-grid .single-note-item.note-business .side-stick {
     background-color: rgba(44, 208, 126, .5)
 }

 .note-has-grid .single-note-item.note-business .category .category-business {
     display: inline-block
 }

 .note-has-grid .single-note-item.note-favourite .favourite-note {
     color: #ffc107
 }

 .note-has-grid .single-note-item.note-social .point {
     color: rgba(44, 171, 227, .5)
 }

 .note-has-grid .single-note-item.note-social .side-stick {
     background-color: rgba(44, 171, 227, .5)
 }

 .note-has-grid .single-note-item.note-social .category .category-social {
     display: inline-block
 }

 .note-has-grid .single-note-item.note-important .point {
     color: rgba(255, 80, 80, .5)
 }

 .note-has-grid .single-note-item.note-important .side-stick {
     background-color: rgba(255, 80, 80, .5)
 }

 .note-has-grid .single-note-item.note-important .category .category-important {
     display: inline-block
 }

 .note-has-grid .single-note-item.all-category .more-options,
 .note-has-grid .single-note-item.all-category.note-favourite .more-options {
     display: block
 }

 .note-has-grid .single-note-item.all-category.note-business .more-options,
 .note-has-grid .single-note-item.all-category.note-favourite.note-business .more-options,
 .note-has-grid .single-note-item.all-category.note-favourite.note-important .more-options,
 .note-has-grid .single-note-item.all-category.note-favourite.note-social .more-options,
 .note-has-grid .single-note-item.all-category.note-important .more-options,
 .note-has-grid .single-note-item.all-category.note-social .more-options {
     display: block
 }


 @media (max-width:767.98px) {
     .note-has-grid .single-note-item {
         max-width: 100%
     }
 }




 .loader {
    width: 70px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,#0d6efd 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,#0d6efd);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: l13 1s infinite linear;
    position: absolute;
    left: calc(50% - 35px);
    top: calc(50% - 35px);
  }
  @keyframes l13{ 
    100%{transform: rotate(1turn)}
  }